/* Seccion Bicicletas */

.bannerBicicletas {
    background-image: url(../img/imagenprueba.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    background-position: center;
    grid-area: bannerBicicletas;
}
.todasLasBicicletas__header--boton {
    background: black;
    border-radius: 10px;
    color: white; 
    cursor: pointer;
    font-size: 25px;
    padding: 20px;
    text-decoration: none;
}
.todasLasBicicletas__header--boton:hover {
    color: white;
}
.mainBicicletas {
    display: grid;
    grid-template-areas: 
        "bannerBicicletas"
        "todasLasBicicletas"
    ;
    grid-template-columns: auto;
}

.bicicletas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
    margin-left: 15%;
    margin-top: 30px;
}

.bicicleta { 
    padding: 20px;
    background-color: white;
    box-shadow: 0px 5px 15px 0px rgba(176, 176, 176, 0.1);
    text-align: center;
}
.bicicleta--img {
    width: 80%;
}
.todasLasBicicletas {
    grid-area: todasLasBicicletas;
    background-color: #f8f8f8;
}
.todasLasBicicletas__header {
    display: flex;
    font-size: 25px;    
    justify-content: space-between;
    width: 80%;
    margin-left: 15%;
    margin-top: 20px;
}

select {
    text-decoration: none;
    border-style: none;
    background-color: #f8f8f8;
}


